header {
  width: 100%;
}
nav {
  width: 100%;
  height: 90px;
  background: url(../img/planets2.png) bottom repeat-y;
  background-size: cover;
  position: relative;
}
.rgba {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.nav-con {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: left;
  margin-left: 3%;
}
a {
  margin: 2%;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-family: "Lobster", cursive;
  color: rgb(94, 29, 94);
  background: rgb(228, 228, 228);
  border-radius: 50%;
}
.nav-img {
  width: 60px;
  height: 60px;
  z-index: 1;
}
.nava {
  background: url(../img/planet4.png) center center no-repeat;
  background-size: contain;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.navb {
  background: url(../img/planet5.png) center center no-repeat;
  background-size: contain;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.navc {
  background: url(../img/planet3.png) center center no-repeat;
  background-size: contain;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

a:active,
a:hover {
  margin-top: 0.7%;
  border-radius: 25px;

  color: rgb(94, 29, 94);

  background: rgb(94, 29, 94);
  background-size: cover;
  z-index: 2;
  width: 70px;
  height: 70px;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.3);
}
/* header */
.main-header {
  width: 100%;
  height: 500px;
}
.img {
  position: relative;
  width: inherit;
  height: 500px;
  background: url(../img/moon.jpg) center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}
.img-cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.img-text {
  position: absolute;
  font-size: 4.5rem;
  z-index: 2;

  color: rgb(228, 228, 228);

  font-family: "Lobster", cursive;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 20px;
  padding: 20px;
}
.img-text:hover {
  color: rgb(94, 29, 94);
  background: rgb(228, 228, 228);
}

.line2 {
  height: 15px;
  width: 100%;
  background: rgb(94, 29, 94);
}
.line {
  height: 10px;
  width: 100%;
  background: rgb(228, 228, 228);
}
/* header img */
.contents {
  width: 100%;
  height: 100%;
  background: white;
  background: url(../img/planets2.png) center;
  background-size: cover;
}
.containers {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: center;
  font-size: 100%;

  background: rgba(0, 0, 0, 0.3);
}
.c {
  width: 300px;
  height: 100%;
}

.nn {
  padding: 3%;
  margin: 0.5%;
  background: rgb(228, 228, 228);
  border-radius: 10%;
  font-family: "Lobster", cursive;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

span {
  font-size: 300%;
  color: rgb(94, 29, 94);
}
body {
}
