header {
  width: 100%;
}
nav {
  width: 100%;
  height: 90px;
}
.nav-con {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: left;
  margin-left: 3%;
}
a {
  margin: 2%;
}
.nav-img {
  width: 50px;
  height: 50px;
  z-index: 1;
}
.nava {
  background: url(../img/planet4.png) center center no-repeat;
  background-size: contain;
}
.navb {
  background: url(../img/planet5.png) center center no-repeat;
  background-size: contain;
}
.navc {
  background: url(../img/planet3.png) center center no-repeat;
  background-size: contain;
}

a:active,
a:hover {
  margin-top: 0.7%;
  border-radius: 25px;

  background: url(../img/moon.jpg) top right no-repeat;
  background-size: cover;
  z-index: 2;
  width: 70px;
  height: 70px;
}
/* header */
.main-header {
  width: 100%;
  height: 500px;
}
.img {
  position: relative;
  width: inherit;
  height: 500px;
  background: url(../img/moon.jpg) center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}
.img-cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.img-text {
  position: absolute;
  font-size: 4.5rem;
  z-index: 2;

  color: rgb(228, 228, 228);

  text-transform: uppercase;

  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 20px;
  padding: 0 7px;
}
.img-text:hover {
  color: rgb(94, 29, 94);
  background: rgb(228, 228, 228);
}
/* header img */
.contents {
  width: 100%;
  height: 500px;
  background: rgb(228, 228, 228);
.container {
  display: flex;
  flex-wrap: wrap;
}
.1 {
}
.2 {
}
.3 {
}

body {
  background: rgb(94, 29, 94);
}
